.header {
    height: 120px;
    width: 100%;
    background: rgb(121, 34, 9);
    background: linear-gradient(90deg, rgba(121, 34, 9, 1) 6%, rgba(255, 0, 17, 1) 64%, rgba(242, 72, 72, 1) 100%);
    position: relative;
}

.header__img {
    max-width: 350px;
    margin-left: 15px;
}

.header__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 45px;
    width: 100%;
    background-color: black;
}

.header__circle {
    position: absolute;
    width: 70px;
    aspect-ratio: 1;
    background-color: black;
    border-radius: 50%;
    bottom: 0px;
    right: 10px;
    transform: translateX(-50%);
}

.header__circle-int {
    position: absolute;
    width: 50px;
    aspect-ratio: 1;
    background-color: black;
    border: 7px solid white;
    border-radius: 50%;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}