html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(250, 250, 223);
}

img {
  width: 100%;
  display: block;
}

a {
  font-family: inherit;
  text-decoration: none;
}

input {
  outline: none;
}

/* Variables */

:root {
  --main--color: #DD1A1A;
  --btn--color: #D93F3F;
  --color-primary: #d93f3f;
  ;
}